:root {
    --primary-color: #5F9341;
    --text-color: #555;
}

body {
    margin: 0;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--text-color);
}

input {
    box-sizing: border-box;
    padding: 10px;
    margin: 2px;
    width: 100%;
    border: 1px solid var(--primary-color);
}

button {
    margin: 2px;
    padding: 8px 40px;
    width: auto;
    font-size: 18px;
    text-transform: uppercase;
    border: none;
    background-color: var(--primary-color);
    color: white;
    cursor: pointer;
}

button:hover {
    background-color: var(--text-color);
}

